.wish-list-container {
    align-items: center;
    position: sticky;
    top: 15vh;
}

.books-wishlist {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  a {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 25px;
  }
}
